Repository Artem23112/fullstack-idea: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --write

.lintstagedrc.yml:

'backend/**/*.{ts,tsx,js}':
  - 'eslint --cache --fix'
  - 'prettier --cache --write'

'webapp/**/*.{ts,tsx,js}':
  - 'eslint --cache --fix'
  - 'prettier --cache --write'

'**/*.{json,yml,scss}':
  - 'prettier --cache --write'

Root: Add --no-stash flag to prevent stashing changes during lint-staged
  .husky/pre-commit
  webapp/fooo.ts
Due: eslint --cache --fix, prettier --cache --write

Root: Add debug flag to lint-staged pre-commit hook
  .husky/pre-commit
Due: none

Test
  backend/src/trpc.ts
Due: eslint --cache --fix, prettier --cache --write

Root: Add pre-push hook for linting and type checking
  .husky/pre-commit
  .husky/pre-push
Due: none

Root: Update husky pre-commit script to handle errors gracefully
  .husky/pre-commit
Due: none

Test: Remove test file fooo.ts
  webapp/fooo.ts
Due: eslint --cache --fix, prettier --cache --write

Root: Add .eslintcache to gitignore
  .gitignore
Due: none

Frontend: Add routes for ideas listing and viewing
  webapp/src/lib/routes.ts
Due: eslint --cache --fix, prettier --cache --write

Root: Update pre-commit hook to remove husky shell wrapper
  .husky/pre-commit
Due: none

Frontend: Update TypeScript config for Node and webapp
  webapp/tsconfig.json
  webapp/tsconfig.node.json
Due: prettier --cache --write

Frontend: Add root component for React Router
  webapp/src/Root.tsx
Due: eslint --cache --fix, prettier --cache --write

Common: Add separate type checking for webapp and backend files
  .husky/pre-commit
  webapp/tsconfig.json
  webapp/tsconfig.node.json
Due: prettier --cache --write

Frontend: Add React Router configuration for idea pages
  webapp/src/router.ts
Due: eslint --cache --fix, prettier --cache --write

Frontend: Add ViewIdeaPage component for displaying idea details
  webapp/src/pages/view-idea-page/ViewIdeaPage.tsx
Due: eslint --cache --fix, prettier --cache --write

Frontend: Replace App with RouterProvider for routing
  webapp/src/main.tsx
Due: eslint --cache --fix, prettier --cache --write

Frontend: Add route parameter type safety to view idea page
  webapp/src/lib/routes.ts
  webapp/src/pages/view-idea-page/ViewIdeaPage.tsx
Due: eslint --cache --fix, prettier --cache --write

Root: Update pre-commit to use pnpm types instead of tsc --noEmit
  .husky/pre-commit
Due: none

Root: Add warn log level to prettier commands
  .lintstagedrc.yml
Due: prettier --cache --write

Root: Update prettier loglevel flag to log-level
  .lintstagedrc.yml
Due: prettier --cache --write

Backend: Update tsconfig to standardize formatting
  backend/tsconfig.json
Due: prettier --cache --write

Backend: Fix prettify script and add lodash dependency
  backend/package.json
Due: prettier --cache --write

Backend: Add 100 ideas with generated content and text paragraphs
  backend/src/trpc.ts
Due: eslint --cache --fix, prettier --cache --write
